/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #008000; /* 濃い緑 */
  --bg-color: #e0f7e0;    /* 薄い緑 */
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  background-color: var(--bg-color); /* 背景を薄い緑に */
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  position: relative; /* 擬似要素を位置付けるため */
  color: white; /* 帯の文字色を白に */
  border-bottom: dashed 0.1em var(--theme-color); /* 点線は残す */
  display: inline-block; /* 幅を文字の長さに合わせる */
  padding: 0.2em 0.5em; /* 帯内の余白 */
  background-color: var(--theme-color); /* 濃い緑の帯 */

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color); /* 濃い緑 */
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color); /* 濃い緑 */
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
