/* --------------------
        全体
-------------------- */
:root {
  --theme-color: #006400; /* 濃い緑 */
}

body {
  margin: 0;
  padding: 15px 20px;
  color: #333;
  background: #d8f0d8; /* 薄い緑 */
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
  padding-bottom: 0.3em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
